<!DOCTYPE html>
<html>
    <head>
    <% include ../partials/header.ejs %>
    </head>

    <body>

    <% include ../partials/nav.ejs %>

    <p>
        Cheating is bad...m'kay.
    </p>


    </body>
</html>
