<!DOCTYPE html>
<html>
    <head>
    <% include ../partials/header.ejs %>
    </head>

    <body>

        <h2>HEY, you shouldn't be there!</h2>
        <img src="/img/cheating.jpg" class="cheating" alt="cheating">
        <br> <br>
        <p>
            Cheating is bad...m'kay.
        </p>

        <p>
            Go back there and do it legitimately!<br>
            <a href="/ninjify"> <button type="button"> Okay...</button> </a>
        </p>


    </body>
</html>
