<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  
  <form action="/ninjify" method="POST">
    BuzzWord: <input type="text" name="buzzword" value="<%= qs.x %>" required/>
    <input type="submit" value="Submit">
  </form>


</body>
</html>
