<!DOCTYPE html>
<html>
    <head>
    <% include ../partials/header.ejs %>
    </head>

    <body>

    <% include ../partials/nav.ejs %>

    <p>
        Oh no... An error has occured!
    </p>
    <p>
        The error is <%= error.origin %>
    </p>

    


    </body>
</html>
