<!DOCTYPE html>
<html>
    <head>
    <% include ../partials/header.ejs %>
    </head>

    <body>

    <% include ../partials/nav.ejs %>

    <p>
        Oh no... A problem has occured!
    </p>
    <p>
        The problem is: <%= error %>
    </p>

    


    </body>
</html>
